@model Antonino.Models.Order
@using Antonino.Models

@{
    ViewBag.Title = "Details";
}

<h2>Order's Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Status)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Status)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.TotalOrderdToys)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.TotalOrderdToys)
      </dd>
    </dl>
</div>
<hr />
<h4>Detailed List</h4>
<table class="table">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Toy</th>
    </tr>
  </thead>
  <tbody>
    @foreach (OrderedToy toy in Model.OrderedToys)
    {
        <tr>
          <td>
            @Html.DisplayFor(model => toy.Quantity)
          </td>
          <td>
            @Html.DisplayFor(model => toy.Name)
          </td>
        </tr>
    }
  </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
