@model Antonino.Models.Order
@using Antonino.Models

@{
    ViewBag.Title = "Details";
}

<h2>Order's Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Status)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Status)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.TotalOrderdToys)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.TotalOrderdToys)
      </dd>
    </dl>
</div>
<hr />
<h4><strong>Detailed List</strong></h4>
<table class="table">
  <thead>
    <tr>
      <th>Desired Quantity</th>
      <th>Toy</th>
      <th>In Stock</th>
    </tr>
  </thead>
  <tbody>
    @{ bool isOrderEditable = true;}
    @foreach (OrderedToy toy in Model.OrderedToys)
    {
      var colorAmount = "enough-toys";
      if (toy.Amount < toy.DesiredQuantity)
      {
        colorAmount = "out-of-stock";
      }
        <tr>
          <td class="@colorAmount">
            @Html.DisplayFor(model => toy.DesiredQuantity)
          </td>
          <td class="@colorAmount">
            @Html.DisplayFor(model => toy.Name)
          </td>
          <td class="@colorAmount">
            @Html.DisplayFor(model => toy.Amount)
          </td>
        </tr>
        if (toy.DesiredQuantity > toy.Amount)
        {
          isOrderEditable = false;
        }
    }
  </tbody>
</table>
<p>
  @if (isOrderEditable)
  {
      @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
  }else
	{
	    <strong class="out-of-stock">Edit button is disabled because there's not enough articles in stock for one toy ore more.</strong><br /> 
      <strong class="out-of-stock">Check the Detailed List for more info.</strong><br />
  }
  @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
@Scripts.Render("~/Scripts/CustomScripts/editController.js")


