@using Antonino.Models
@using Antonino.Classes
@model Antonino.Models.Orders

@{
    ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-xs-8">
    <h2 style="text-align:center;">Orders</h2>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Kid</th>
      <th>Request Date</th>
      @switch (Session["isAdmin"])
      {
          case true:
              <th>Total $</th>
          break;
        case false:
              <th>Status</th>
          break;
        default:
          break;
      }
    </tr>
  </thead>
  <tbody>
    @foreach (var order in Model.EntityList)
    {
        var statusClass = "enough-toys";
        <tr>
          @switch (Session["isAdmin"])
          {
            case true:
                  <td>
                    @Html.DisplayFor(model => order.Kid)
                  </td>
                  <td>
                    @Html.DisplayFor(model => order.RequestDate)
                  </td>
                  <td>
                    @Html.DisplayFor(model => order.totalCost)
                  </td>
              break;
            case false:
              switch ((int)order.Status)
              {
                case 0:
                  statusClass = "status-in-progress";
                  foreach (OrderedToy toy in order.OrderedToys)
                  {
                    if (toy.Amount < toy.DesiredQuantity)
                    {
                      statusClass = "out-of-stock";
                    }
                  }
                  break;
                case 1:
                  statusClass = "status-ready";
                  break;
                default:
                  break;
              }
              <td onclick="location.href='@(Url.Action("Details", "Orders", new { id = order.ID }))'" style="cursor:pointer">
                @Html.ActionLink(order.Kid, "Details", new { id = order.ID }, new { @class = statusClass })
              </td>
              <td onclick="location.href='@(Url.Action("Details", "Orders", new { id = order.ID }))'" style="cursor:pointer">
                @Html.ActionLink(order.RequestDate.ToShortDateString(), "Details", new { id = order.ID }, new { @class = statusClass })
              </td>
              <td onclick="location.href='@(Url.Action("Details", "Orders", new { id = order.ID }))'" style="cursor:pointer">
                @Html.ActionLink(order.Status.ToString(), "Details", new { id = order.ID }, new { @class = statusClass })
              </td>
              break;
            default:
              break;
          }
        </tr>        
    }
  </tbody>
</table>

