@using Antonino.Models
@model Antonino.Models.Orders

@{
    ViewBag.Title = "Index";
}

<div class="row">
  <div class="col-xs-8">
    <h2 style="text-align:center;">Orders</h2>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Kid</th>
      <th>Request Date</th>
      @switch (Session["isAdmin"])
      {
          case true:
              <th>Total $</th>
          break;
        default:
              break;
      }
    </tr>
  </thead>
  <tbody>
    @foreach (var order in Model.EntityList)
    {
        var colorAmount = "enough-toys";
        foreach (OrderedToy toy in order.OrderedToys)
        {
          if(toy.Amount == 0)
          {
                colorAmount = "out-of-stock";
          }
        }
        <tr @{if (!(bool)Session["isAdmin"]) { Url.Action("Details", new { id = order.ID }); }; }>
          @switch (Session["isAdmin"])
          {
            case true:
                  <td>
                    @Html.DisplayFor(model => order.Kid)
                  </td>
                  <td>
                    @Html.DisplayFor(model => order.RequestDate)
                  </td>
                  <td>
                    @Html.DisplayFor(model => order.totalCost)
                  </td>
              break;
            case false:
                  <td class="@colorAmount">
                    @Html.ActionLink(order.Kid, "Details", new { id = order.ID }, new { @class = colorAmount })
                  </td>
                  <td class="@colorAmount">
                    @Html.ActionLink(order.RequestDate.ToShortDateString(), "Details", new { id = order.ID }, new { @class = colorAmount })
                  </td>
              break;
            default:
              break;
          }
        </tr>        
    }
  </tbody>
</table>

