@using Antonino.Models
@{
    ViewBag.Title = "Products";
}
@model Products

<div class="row">
  <div class="col-xs-8">
    <h2 style="text-align:center;">Products</h2>
  </div>
  <div class="col-xs-4" style="margin-top:20px;">
    @Html.ActionLink("New product", "Add", null, new { @class = "btn btn-success" })
  </div>
</div>
@foreach (var product in Model.EntityList)
{
    <hr />
    <div class="row">
      <div class="col-xs-8"><h4>@Html.ActionLink(product.Name, "Details", new { Name = product.Name })</h4></div>
      <div class="col-xs-8"><h4>@Html.ActionLink(product.Category, "Details", new { id = product.ID })</h4></div>
      <div class="col-xs-2">@Html.ActionLink(" Edit", "Edit", new { id = product.ID, name = product.Name , category = product.Category }, new { @class = "btn btn-default glyphicon glyphicon-pencil" })</div>
      <div class="col-xs-2"> @Html.ActionLink(" Delete", "Delete", new { name = product.Name, id = product.ID }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })</div>
    </div>
}
